@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
.services .servicesContainer .servicesContainer__types .servicesContainer__icons .servicesContainer__h3 {
  height: 14px;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.project .portfolioContainer__wrapper .portfolio__projects .portfolioContainer__a-down {
  text-decoration: none; }

.services .servicesContainer .servicesContainer__types .servicesContainer__icons .servicesContainer__p--smaller {
  width: 274px;
  height: 57px;
  color: #777777;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2rem; }

.titleContainer .titleContainer__wrapper, .services .servicesContainer, .services .servicesContainer .servicesContainer__types .servicesContainer__icons, .culture .cultureContainer__upitems .cultureContainer__items, .clients .clientContainer__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.services .servicesContainer .servicesContainer__types, .culture .cultureContainer__upitems, .clients .clientContainer__first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: center; }

/*Navigation*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif; }

.nav {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s; }

.nav_sticky {
  transition: 0.5s;
  height: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); }

.nav__ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__list-item {
  margin-right: 30px; }

.nav__link {
  text-decoration: none;
  color: #777777;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s; }
  .nav__link:hover, .nav__link:focus {
    transition: 0.2s ease;
    color: #7cc576; }

.button-toggle-nav {
  background-color: white;
  display: none;
  border: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  opacity: 0.7; }

.nav__logo-link {
  display: flex;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: #545454;
  font-weight: bold;
  transition: 0.3s; }

.nav__logo-link:hover,
.nav__logo-link:focus {
  color: #777777; }

.titleContainer {
  max-height: 1000px;
  height: auto;
  background: url(../images/0.header/next/2-layers.png) no-repeat center center;
  background-size: cover; }
  .titleContainer .titleContainer__wrapper {
    padding-top: 120px;
    padding-bottom: 120px; }
    .titleContainer .titleContainer__wrapper .titleContainer__h1 {
      height: 114px;
      color: #fff;
      font-size: 60px;
      font-weight: 700;
      line-height: 65px;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      text-align: center;
      padding-bottom: 41px;
      padding-top: 120px; }
    .titleContainer .titleContainer__wrapper .titleContainer__p {
      height: 20px;
      color: #cccccc;
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      font-weight: 400;
      padding: 0;
      margin: 0;
      padding-bottom: 56px; }
    .titleContainer .titleContainer__wrapper .titleContainer__button {
      background-color: #7cc576;
      border-radius: 30px;
      border: none;
      font-family: "Montserrat", sans-serif;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 24px 36px;
      cursor: pointer; }
      .titleContainer .titleContainer__wrapper .titleContainer__button:hover {
        transition: 0.8s ease-in-out;
        color: #7cc576;
        background-color: #fff; }

.services {
  height: auto;
  min-height: 545px; }
  .services .servicesContainer .servicesContainer__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .services .servicesContainer .servicesContainer__text .servicesContainer__h2 {
      color: #222222;
      font-size: 40px;
      font-weight: 700;
      line-height: 75px;
      text-transform: uppercase;
      padding-top: 99px; }
    .services .servicesContainer .servicesContainer__text .servicesContainer__p {
      color: #777;
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      font-weight: 400;
      padding-top: 33px; }
  .services .servicesContainer .servicesContainer__types .servicesContainer__icons {
    padding: 86px 23px; }
    .services .servicesContainer .servicesContainer__types .servicesContainer__icons:hover {
      transform: scale(1.05);
      transition: 0.4s ease-in; }
    .services .servicesContainer .servicesContainer__types .servicesContainer__icons .servicesContainer__img:hover {
      transform: scale(1.2);
      transition: 0.6s ease-in-out; }
    .services .servicesContainer .servicesContainer__types .servicesContainer__icons .servicesContainer__h3 {
      padding-top: 37px;
      padding-bottom: 18px; }
      .services .servicesContainer .servicesContainer__types .servicesContainer__icons .servicesContainer__h3:hover {
        transform: scale(1.5);
        transition: 0.4s ease-in;
        color: #7cc576; }

.relax {
  display: flex;
  background-color: #ccc;
  height: auto;
  min-height: 700px; }
  .relax .relaxMachine {
    position: relative;
    background-color: #ccc;
    flex: 0; }
  .relax .relaxMachine__img {
    max-width: 400px;
    max-height: 430px;
    position: relative;
    top: 115px;
    left: 200px;
    transition: 0.8s ease-in-out;
    transform: scale(0.5); }
    .relax .relaxMachine__img:hover {
      transform: rotate(180deg); }
  .relax .relaxBackground {
    position: relative;
    background: url("../images/2.justrelax/backg.jpg") no-repeat;
    background-size: cover;
    flex: 2;
    overflow: hidden; }
    .relax .relaxBackground .relaxBackground__text {
      padding-left: 102px; }
      .relax .relaxBackground .relaxBackground__text .relaxBackground__h2 {
        color: #fff;
        padding-top: 99px;
        padding-bottom: 45px;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase; }
      .relax .relaxBackground .relaxBackground__text .relaxBackground__h2--span {
        color: #7cc576; }
      .relax .relaxBackground .relaxBackground__text .relaxBackground__p {
        color: #cccccc;
        font-family: "Roboto Slab", serif;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 29px;
        padding-right: 10px; }
      .relax .relaxBackground .relaxBackground__text .relaxBackground__ul {
        position: absolute;
        padding-left: 37px; }
        .relax .relaxBackground .relaxBackground__text .relaxBackground__ul .relaxBackground__li {
          list-style-image: url(../images/2.justrelax/2-layers.png);
          color: #cccccc;
          font-family: "Roboto Slab", serif;
          font-size: 16px;
          font-weight: 400; }
          .relax .relaxBackground .relaxBackground__text .relaxBackground__ul .relaxBackground__li .relaxBackground__a {
            position: relative;
            bottom: 10px;
            text-decoration: none;
            padding-left: 5px;
            color: #fff;
            text-decoration: none; }
            .relax .relaxBackground .relaxBackground__text .relaxBackground__ul .relaxBackground__li .relaxBackground__a:hover {
              transition: 0.8s ease-in-out;
              color: #7cc576; }
    .relax .relaxBackground .relaxBackground__learn {
      padding-top: 148px; }
    .relax .relaxBackground .relaxBackground__button {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      background-color: #7cc576;
      border-radius: 50px;
      padding: 24px 35px;
      border: none;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
      .relax .relaxBackground .relaxBackground__button:hover {
        transition: 0.8s ease-in-out;
        background-color: #fff;
        color: #7cc576; }

.project {
  padding: 100px 0px;
  background: url(../images/3.latestproject/tablet.png) no-repeat bottom right; }
  .project .portfolioContainer__wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px; }
    .project .portfolioContainer__wrapper .portfolioContainer__h2 {
      text-align: center;
      color: #222222;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase; }
    .project .portfolioContainer__wrapper .portfolioContainer__p {
      text-align: center;
      color: #777;
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      font-weight: 400; }
    .project .portfolioContainer__wrapper .portfolio__projects {
      padding-top: 86px; }
      .project .portfolioContainer__wrapper .portfolio__projects .portfolio__h3 {
        color: #222222;
        font-size: 18px;
        font-weight: 700; }
      .project .portfolioContainer__wrapper .portfolio__projects .portfolio__h3--freamwork {
        padding-bottom: 24px; }
      .project .portfolioContainer__wrapper .portfolio__projects .portfolioContainer__p--smaller {
        color: #777;
        font-family: "Roboto Slab", serif;
        font-size: 16px;
        font-weight: 400;
        max-width: 432px;
        line-height: 1.5rem; }
      .project .portfolioContainer__wrapper .portfolio__projects .portfolio__item {
        display: flex;
        flex-direction: row;
        padding-top: 28px; }
        .project .portfolioContainer__wrapper .portfolio__projects .portfolio__item .portfolio__item--column {
          padding-left: 20px;
          padding-top: 14px; }
      .project .portfolioContainer__wrapper .portfolio__projects .portfolioContainer__p--down {
        padding-top: 34px;
        color: #777;
        font-family: "Roboto Slab", serif;
        font-size: 16px;
        font-weight: 400;
        max-width: 500px;
        line-height: 1.5rem; }
      .project .portfolioContainer__wrapper .portfolio__projects .portfolio__button {
        color: #7cc576;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        background: none;
        border: none;
        padding-top: 25px;
        cursor: pointer; }
        .project .portfolioContainer__wrapper .portfolio__projects .portfolio__button:hover {
          color: #000;
          -webkit-transition: color 1s ease-out;
          -moz-transition: color 1s ease-out;
          -o-transition: color 1s ease-out;
          transition: color 1s ease-out; }
      .project .portfolioContainer__wrapper .portfolio__projects .portfolio__arrow {
        animation: slide1 1s ease-in-out infinite; }
@keyframes slide1 {
  0%,
                    100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(8px, 0); } }
.culture {
  padding: 100px 0;
  height: auto;
  min-height: 460px;
  background-color: #f9f9f9; }
  .culture .cultureContainer__wrapper {
    margin: 0 auto;
    padding: 0 20px; }
    .culture .cultureContainer__wrapper .cultureContainer_h2 {
      text-align: center;
      color: #222222;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 18px; }
    .culture .cultureContainer__wrapper .cultureContainer__p {
      text-align: center;
      color: #777;
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      font-weight: 400; }
  .culture .cultureContainer__upitems .cultureContainer__items {
    padding-right: 23px;
    padding-left: 23px;
    position: relative; }
    .culture .cultureContainer__upitems .cultureContainer__items .cultureContainer__img--line {
      position: absolute;
      top: 130px;
      left: 260px; }
    .culture .cultureContainer__upitems .cultureContainer__items .cultureContainer__img {
      padding-bottom: 29px;
      padding-top: 89px; }
    .culture .cultureContainer__upitems .cultureContainer__items .cultureContainer__h3 {
      padding-bottom: 16px; }
    .culture .cultureContainer__upitems .cultureContainer__items .cultureContainer__p--smaller {
      text-align: center;
      color: #777;
      font-family: "Roboto Slab", serif;
      font-size: 14px;
      font-weight: 400;
      max-width: 295px;
      line-height: 1.4rem; }

.clients {
  height: auto;
  max-height: 1690px; }
  .clients .clientContainer__wrapper {
    margin: 0 auto;
    padding: 100px 20px; }
    .clients .clientContainer__wrapper .clinetContainer__h2 {
      text-align: center;
      color: #222222;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 19px; }
    .clients .clientContainer__wrapper .clientContainer__p {
      text-align: center;
      color: #777;
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      font-weight: 400; }
  .clients .clientContainer__second {
    flex-direction: row-reverse;
    margin-left: 0px; }
  .clients .clientContainer__img {
    width: 221px;
    height: 221px;
    margin-top: 115px;
    border-radius: 100%; }
  .clients .clientContainer__items {
    background: #f9f9f9;
    margin-top: 115px;
    margin-left: 44px;
    padding: 41px 50px; }
    .clients .clientContainer__items .clientContainer__p--bigger {
      font-family: "Roboto Slab", serif;
      max-width: 550px;
      color: #777;
      font-size: 22px;
      font-weight: 400; }
    .clients .clientContainer__items .clientContainer__p--smaller {
      font-family: "Roboto Slab", serif;
      color: #7cc576;
      font-size: 18px;
      font-weight: 400;
      padding-top: 18px; }
  .clients .clientContainer__items--size {
    margin-right: 44px;
    margin-left: 0px; }

.logo {
  height: auto; }
  .logo .logoContainer__wrapper {
    margin: 0 auto; }
    .logo .logoContainer__wrapper .logoContainer__bg {
      display: flex;
      flex-direction: column;
      height: auto;
      min-height: 250px;
      background-color: #7cc576; }
      .logo .logoContainer__wrapper .logoContainer__bg .logoContainer__h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding-top: 69px;
        padding-bottom: 31px; }
      .logo .logoContainer__wrapper .logoContainer__bg .logoContainer__a {
        text-decoration: none;
        cursor: pointer; }
        .logo .logoContainer__wrapper .logoContainer__bg .logoContainer__a .logoContainer__button {
          display: flex;
          margin: 0 auto;
          border: 3px solid #fff;
          background-color: #7cc576;
          padding: 14px 20px;
          border-radius: 10px;
          margin-bottom: 72px;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
          letter-spacing: -0.45px; }
          .logo .logoContainer__wrapper .logoContainer__bg .logoContainer__a .logoContainer__button:hover {
            transition: 0.6s ease-in;
            background-color: #fff;
            color: #7cc576; }
    .logo .logoContainer__wrapper .logoContainer__images {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      .logo .logoContainer__wrapper .logoContainer__images .logoContainer__img {
        display: inline-block;
        padding-top: 60px;
        padding-bottom: 64px;
        padding-left: 40px; }

.contact {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 60px 0; }
  .contact .contactContainer {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center; }
    .contact .contactContainer .contactRow {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center; }
      .contact .contactContainer .contactRow .contactColumn {
        width: 100%;
        margin: 10px; }
        .contact .contactContainer .contactRow .contactColumn .contact__title {
          text-align: left;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 28px; }
        .contact .contactContainer .contactRow .contactColumn .contact__adress {
          color: #ececec;
          font-family: "Roboto Slab", serif;
          font-size: 16px;
          font-weight: 400;
          text-align: left; }
          .contact .contactContainer .contactRow .contactColumn .contact__adress .address {
            background: url(../images/7.topfooter/location.png) no-repeat;
            background-position: 0 15px;
            padding: 10px 0 10px 40px; }
          .contact .contactContainer .contactRow .contactColumn .contact__adress .phone-number {
            background: url(../images/7.topfooter/iphone-potrait.png) no-repeat;
            background-position: 0 center;
            padding: 10px 0 10px 40px; }
        .contact .contactContainer .contactRow .contactColumn .mail {
          background: url(../images/7.topfooter/email.png) no-repeat;
          background-position: 0 center;
          padding: 10px 0 10px 40px; }
        .contact .contactContainer .contactRow .contactColumn .contact_p {
          text-align: left; }
          .contact .contactContainer .contactRow .contactColumn .contact_p .contact__link {
            font-family: "Roboto Slab", serif;
            font-size: 16px;
            margin: 5px 0;
            text-decoration: none;
            color: #ececec; }
        .contact .contactContainer .contactRow .contactColumn .contact_p--photo {
          padding: 10px 0 10px 40px;
          background: url(../images/7.topfooter/photo-icon.png) no-repeat;
          background-position: 0 center; }
        .contact .contactContainer .contactRow .contactColumn .contact_p--news {
          padding: 10px 0 10px 40px;
          background: url(../images/7.topfooter/news-icon.png) no-repeat;
          background-position: 0 center; }
        .contact .contactContainer .contactRow .contactColumn .contact_p--media {
          padding: 10px 0 10px 40px;
          background: url(../images/7.topfooter/media-icon.png) no-repeat;
          background-position: 0 center; }
        .contact .contactContainer .contactRow .contactColumn .tweet {
          background: url(../images/7.topfooter/twitter-icon.png) no-repeat;
          padding: 10px 0 0 40px;
          background-position: 0 15px;
          text-align: left;
          color: #ececec;
          font-family: "Roboto Slab", serif;
          margin: 10px 0;
          line-height: 20px; }
          .contact .contactContainer .contactRow .contactColumn .tweet .tweet__link {
            text-decoration: none;
            color: #ececec; }
          .contact .contactContainer .contactRow .contactColumn .tweet .tweet__hash {
            font-family: "Roboto Slab", serif;
            font-weight: 700;
            line-height: 22px; }
          .contact .contactContainer .contactRow .contactColumn .tweet .tweet__time {
            font-family: "Roboto Slab", serif;
            font-weight: 400;
            line-height: 20px; }

.footer__main {
  width: 100%;
  height: 100px;
  max-height: 200px; }
  .footer__main .footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 27px 20px;
    text-align: center;
    max-height: 100px;
    background: #fff; }
    .footer__main .footerContainer .footer__p {
      color: #555555;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding-top: 10px; }
    .footer__main .footerContainer .footer_imgaes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 119px; }
      .footer__main .footerContainer .footer_imgaes .footer__img {
        padding-left: 9px; }

@media (max-width: 622px) {
  .button-toggle-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 409; }

  .nav__ul {
    display: none; }

  @keyframes show-menu {
    0% {
      transform: translateX(100%); }
    100% {
      transform: translateX(0%); } }
  .nav__ul_responsive {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-wrap: wrap;
    top: 0;
    animation: show-menu;
    animation-duration: 0.6s; }

  @keyframes hide-menu {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(110%); } }
  .nav__ul_hide {
    animation: hide-menu;
    animation-duration: 0.6s; }

  .nav__list-item {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; }

  .titleContainer .titleContainer__wrapper .titleContainer__h1 {
    font-size: 28px; }
  .titleContainer .titleContainer__wrapper .titleContainer__p {
    font-size: 15px; }
  .titleContainer .titleContainer__wrapper .titleContainer__button {
    font-size: 10px;
    padding: 12px 18px; }

  .footer__main .footerContainer {
    flex-direction: column; }
    .footer__main .footerContainer .footer_imgaes {
      padding-top: 15px;
      padding-left: 0px; }

  .clients .clientContainer__wrapper .clinetContainer__h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px; }
  .clients .clientContainer__wrapper .clientContainer__p {
    font-size: 15px; }

  .relax .relaxMachine {
    display: none; }
  .relax .relaxBackground .relaxBackground__text {
    padding-left: 25px; }
    .relax .relaxBackground .relaxBackground__text .relaxBackground__h2 {
      padding-bottom: 25px;
      padding-right: 5px;
      font-size: 30px; }
    .relax .relaxBackground .relaxBackground__text .relaxBackground__p {
      font-size: 14px; } }
@media (max-width: 1062px) {
  .cultureContainer__img--line {
    display: none; }

  .contact .contactContainer .contactRow {
    display: flex;
    flex-direction: column; }
    .contact .contactContainer .contactRow .contactColumn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contact .contactContainer .contactRow .contactColumn .contact__title {
        margin-bottom: 10px;
        font-size: 15px; }
      .contact .contactContainer .contactRow .contactColumn .contact__adress {
        margin-left: -37px;
        font-size: 10px; }
      .contact .contactContainer .contactRow .contactColumn .contact_p {
        text-align: left; }
        .contact .contactContainer .contactRow .contactColumn .contact_p .contact__link {
          font-size: 10px; }
      .contact .contactContainer .contactRow .contactColumn .contact_p--photo,
      .contact .contactContainer .contactRow .contactColumn .contact_p--news,
      .contact .contactContainer .contactRow .contactColumn .contact_p--media {
        margin-left: 5px;
        width: 150px; }
      .contact .contactContainer .contactRow .contactColumn .tweet .tweet__link,
      .contact .contactContainer .contactRow .contactColumn .tweet .tweet__time,
      .contact .contactContainer .contactRow .contactColumn .tweet .tweet__hash {
        font-size: 10px; } }
@media (max-width: 810px) {
  .logo .logoContainer__wrapper .logoContainer__bg .logoContainer__h2 {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px; }
  .logo .logoContainer__wrapper .logoContainer__images {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 35px; }
    .logo .logoContainer__wrapper .logoContainer__images .logoContainer__img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 0px; }

  .relaxMachine {
    display: none; } }
@media (max-width: 959px) {
  .clients .clientContainer__items {
    margin-top: 10px;
    margin-left: 0px; }
    .clients .clientContainer__items .clientContainer__p--bigger {
      font-size: 17px !important; }
    .clients .clientContainer__items .clientContainer__p--smaller {
      font-size: 10px !important; }
  .clients .clientContainer__items--size {
    margin-top: 10px;
    margin-right: 0px; }

  .project {
    background: none; }
    .project::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/3.latestproject/tablet.png) no-repeat bottom right;
      opacity: 0.4; }
    .project .portfolioContainer__wrapper .portfolio__projects .portfolio__item .portfolio__img {
      width: 60px;
      height: 60px; }
    .project .portfolioContainer__wrapper .portfolio__projects .portfolio__item .portfolio__item--column {
      padding-top: 0px; }

  .services .servicesContainer .servicesContainer__text .servicesContainer__h2 {
    text-align: center;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 99px;
    line-height: 40px; }
  .services .servicesContainer .servicesContainer__text .servicesContainer__p {
    font-size: 15px;
    padding-top: 10px; }
  .services .servicesContainer .servicesContainer__types .servicesContainer__icons {
    padding: 43px 23px; }
    .services .servicesContainer .servicesContainer__types .servicesContainer__icons .servicesContainer__h3 {
      padding-top: 37px;
      padding-bottom: 18px; } }

/*# sourceMappingURL=style.css.map */
